{% extends "base.html" %}
{% block title %}Admin{% endblock %}
{% block background %}assets/png/bg.jpg{% endblock %}
{% block head %}
{{ super() }}
<style type="text/css">
    .important {
        color: #336699;
    }

    .sidebar {
        margin: 0;
        padding: 0;
        width: 200px;
        background: linear-gradient(180deg, rgba(26, 26, 26, 0.95) 0%, rgba(26, 26, 26, 0.76) 100%);
        position: fixed;
        height: 100%;
        overflow: auto;
    }

    .sidebar a {
        display: block;
        color: white;
        padding: 16px;
        text-decoration: none;
    }

    .sidebar a.active {
        background-color: #0096FF;
        color: white;
    }

    .content {
        margin-top: 20px;
        margin-left: 250px;
    }

    .btn {
        background-color: #0096FF;
        border: none;
        color: white;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 5px;
        width: 10rem;
        height: 5rem;
        margin-left: 20px;
    }

    .userlist {
        border-radius: 15px;
        background: #1A1A1A;
        padding: 1rem;
        margin: auto;
        width: 60%;
        height: 80vh;
    }

    .userlist-pos {
        border-radius: 10px;
        padding: 0.5rem;
        margin: 1rem;
        background: #262626;
        padding-bottom: 0.5rem;
    }

    .userlist-username-text {
        font-size: 1.5rem;
        position: relative;
        left: 0.75rem;
        bottom: 0.125rem;
    }

    .userlist-pp-text {
        float: right;
        right: 0.25rem;
        top: 0.25rem;
        position: relative;
    }
</style>
{% endblock %}
{% block content %}
<div class="sidebar">
    <a href="/admin">Dashboard</a>
    <a href="/admin/users">Users</a>
    <a href="/admin/badges">Badges</a>
</div>
<div class="content">
    <div>
        <h2 style="text-align: center;">Viewing user: {{ viewed_user.name }}</h2>
        <div>
            <div class="userlist">
                <div class="userlist-pos"><span class="userlist-username-text">Username</span><span class="userlist-pp-text">{{ viewed_user.name }}</span></div>
                <div class="userlist-pos"><span class="userlist-username-text">ID</span><span class="userlist-pp-text">{{ viewed_user.id }}</span></div>
                <div class="userlist-pos"><span class="userlist-username-text">Email</span><span class="userlist-pp-text">{{ viewed_user.email }}</span></div>
                <div class="userlist-pos"><span class="userlist-username-text">country</span><span class="userlist-pp-text">{{ viewed_user.country }}</span></div>
                <div class="userlist-pos"><span class="userlist-username-text">pp</span><span class="userlist-pp-text">{{ viewed_user.stats.pp }}pp</span></div>
                <div class="userlist-pos"><span class="userlist-username-text">Stars</span><span class="userlist-pp-text">{{ viewed_user.stats.stars }}</span></div>
                <div class="userlist-pos"><span class="userlist-username-text">Coins</span><span class="userlist-pp-text">{{ viewed_user.stats.coins }}</span></div>
                <div class="userlist-pos"><span class="userlist-username-text">User coins</span><span class="userlist-pp-text">{{ viewed_user.stats.u_coins }}</span></div>
                <div class="userlist-pos"><span class="userlist-username-text">Demons</span><span class="userlist-pp-text">{{ viewed_user.stats.demons }}</span></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}