{% extends "base.html" %}
{% block title %}Admin{% endblock %}
{% block background %}assets/png/bg.jpg{% endblock %}
{% block head %}
{{ super() }}
<script>
    function formatParams( params ){
        return "?" + Object
            .keys(params)
            .map(function(key){
                return key+"="+encodeURIComponent(params[key])
            })
            .join("&")
    }

    function updateValues() {
        var params = {
            name: document.getElementsByClassName("name")[0].textContent,
            id: document.getElementsByClassName("id")[0].textContent,
            email: document.getElementsByClassName("email")[0].textContent,
            country: document.getElementsByClassName("country")[0].textContent,
            privileges: document.getElementsByClassName("privileges")[0].textContent,
            pp: document.getElementsByClassName("pp")[0].textContent,
            stars: document.getElementsByClassName("stars")[0].textContent,
            coins: document.getElementsByClassName("coins")[0].textContent,
            u_coins: document.getElementsByClassName("u_coins")[0].textContent,
            demons: document.getElementsByClassName("demons")[0].textContent,
            ip: document.getElementsByClassName("ip")[0].textContent
        }
        var xmlHttp = new XMLHttpRequest();
        xmlHttp.open("GET", "/admin/edit_user"+formatParams(params), true); // false for synchronous request
        xmlHttp.send(null);
        setTimeout(function(){
            location.reload();
        }, 500);
        
    }
</script>
<style type="text/css">
    .important {
        color: #336699;
    }

    .sidebar {
        margin: 0;
        padding: 0;
        width: 200px;
        background: linear-gradient(180deg, rgba(26, 26, 26, 0.95) 0%, rgba(26, 26, 26, 0.76) 100%);
        position: fixed;
        height: 100%;
        overflow: auto;
    }

    .sidebar a {
        display: block;
        color: white;
        padding: 16px;
        text-decoration: none;
    }

    .sidebar a.active {
        background-color: #0096FF;
        color: white;
    }

    .content {
        margin-top: 20px;
        margin-left: 250px;
    }

    .btn {
        background-color: #0096FF;
        border: none;
        color: white;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 5px;
        width: 10rem;
        height: 5rem;
        margin-left: 20px;
    }

    .userlist {
        border-radius: 15px;
        background: #1A1A1A;
        padding: 1rem;
        margin: auto;
        width: 60%;
        height: 80vh;
    }

    .userlist-pos {
        border-radius: 10px;
        padding: 0.2rem;
        margin: 0.9rem;
        background: #262626;
        padding-bottom: 0.5rem;
    }

    .userlist-username-text {
        font-size: 1.5rem;
        position: relative;
        left: 0.75rem;
        bottom: 0.125rem;
    }

    .userlist-pp-text {
        float: right;
        right: 0.25rem;
        top: 0.25rem;
        position: relative;
    }
</style>
{% endblock %}
{% block content %}
<div class="sidebar">
    <a href="/admin">Dashboard</a>
    <a href="/admin/users">Users</a>
    <a href="/admin/badges">Badges</a>
</div>
<div class="content">
    <div>
        <button class="btn" style="float: right; position: relative; right: 2.5rem; top: 3rem;" onclick="updateValues()">Save changes</button>
        <h2 style="text-align: center; position: relative; left: 5.5rem;">Viewing user: {{ viewed_user.name }}</h2>
        <div>
            <div class="userlist">
                <div class="userlist-pos"><span class="userlist-username-text">Username</span><span class="userlist-pp-text name" contentEditable="true">{{ viewed_user.name }}</span></div>
                <div class="userlist-pos"><span class="userlist-username-text">ID</span><span class="userlist-pp-text id" contentEditable="true">{{ viewed_user.id }}</span></div>
                <div class="userlist-pos"><span class="userlist-username-text">Email</span><span class="userlist-pp-text email" contentEditable="true">{{ viewed_user.email }}</span></div>
                <div class="userlist-pos"><span class="userlist-username-text">Country</span><span class="userlist-pp-text country" contentEditable="true">{{ viewed_user.country }}</span></div>
                <div class="userlist-pos"><span class="userlist-username-text">Privileges<span><span class="userlist-pp-text privileges" style="position: relative; right: 1rem;" contentEditable="true">{{ viewed_user.privileges }}</span></div>
                <div class="userlist-pos"><span class="userlist-username-text">pp</span><span class="userlist-pp-text pp" contentEditable="true">{{ viewed_user.stats.pp }}pp</span></div>
                <div class="userlist-pos"><span class="userlist-username-text">Stars</span><span class="userlist-pp-text stars" contentEditable="true">{{ viewed_user.stats.stars }}</span></div>
                <div class="userlist-pos"><span class="userlist-username-text">Coins</span><span class="userlist-pp-text coins" contentEditable="true">{{ viewed_user.stats.coins }}</span></div>
                <div class="userlist-pos"><span class="userlist-username-text">User coins</span><span class="userlist-pp-text u_coins" contentEditable="true">{{ viewed_user.stats.u_coins }}</span></div>
                <div class="userlist-pos"><span class="userlist-username-text">Demons</span><span class="userlist-pp-text demons" contentEditable="true">{{ viewed_user.stats.demons }}</span></div>
                <div class="userlist-pos"><span class="userlist-username-text">IP</span><span class="userlist-pp-text demons" contentEditable="true">{{ viewed_user.ip }}</span></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}