<div class="navbar">
    <div class="navbar--layout">
        <div class="navbar--layout-home">
            loog
        </div>
        <a class="navbar--layout-item navbar--layout-item-active" href="#">
            <i class="fas fa-home navbar--layout-icon"></i>
            <p class="navbar--layout-text">Home</p>
        </a>
        <a class="navbar--layout-item" href="#">
            <i class="far fa-square navbar--layout-icon"></i>
            <p class="navbar--layout-text">hi there~</p>
        </a>
        <a class="navbar--layout-item" href="#">
            <i class="far fa-square navbar--layout-icon"></i>
            <p class="navbar--layout-text">hi there~</p>
        </a>
    </div>
    <div class="navbar--layout">
        <div class="navbar--account">
            <a href="#" class="navbar--account-dropdown"><i class="fas fa-chevron-down"></i></a>
            <div class="navbar--account-image navbar--account-image-online"><img src="https://alten.s-ul.eu/ffuEv8ou.png" alt="Profile Picture"/></div>
            <p>Laica</p>
        </div>
        <div class="navbar--search navbar--search-active">
            <div class="navbar--search-icon"><i class="fas fa-search"></i></div>
            <div class="navbar--search-field-container">
                <input type="text" placeholder="Search" class="navbar--search-field">
            </div>
        </div>
    </div>
</div>
{% block content %}{% endblock %}