<!doctype html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/assets/css/app.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <title>Lotus - {% block title %}{% endblock %}</title>
    {% endblock %}
</head>
<body>
{% extends "partials/navbar.html" %}
{% block content %}
<div class="base--bg" draggable="false">
    <div class="base--bg-overlay"></div>
    <style>
        .bg {
            position: fixed;
            display: block;
            width: 100%;
            height: 100%;
            max-width: 100vw;
            max-height: 100vh;
            z-index: -999999;
            background-size:100% 100%;
        }
    </style>
    <img src="assets/png/bg.png" alt="Background", class="bg">
</div>
{% endblock %}
</body>
</html>