<!doctype html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta content="Lotus" property="og:title">
    <meta content="Lotus is a leaderboard for Geometry Dash, featuring a difficulty and performance calculator." property="og:description">
    <meta content="/assets/png/logo.png" property="og:image">
    <link rel="stylesheet" href="/assets/css/app.css">
    <link rel="shortcut icon" href="/assets/png/logo.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <title>Lotus - {% block title %}{% endblock %}</title>
    {% endblock %}
</head>
<body>
{% extends "partials/navbar.html" %}
{% block content %}
<div class="base--bg" draggable="false">
    <div class="base--bg-overlay"></div>
    <img src="{% block background %}{% endblock %}" alt="Background">
</div>
{% endblock %}
</body>
</html>