{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block background %}/assets/png/temp-bg.jpg{% endblock %}
{% block home %}navbar--layout-item-active{% endblock %}
{% block head %}
{{ super() }}
<style type="text/css">
    .important {
        color: #336699;
    }
</style>
{% endblock %}
{% block content %}
{{ super() }}
<h1>Index</h1>
<p class="important">
    Welcome to Lotus! {% if user %}Here is your referral code: https://lotus.spoo.uk/register?referrer={{ user.id }}{% endif %}
</p>
{% endblock %}