{% extends "base.html" %}
{% block title %}Rankings{% endblock %}
{% block background %}assets/png/bg.jpg{% endblock %}
{% block head %}
{{ super() }}
<style type="text/css">
    .important {
        color: #336699;
    }
    .leaderboard {
        border-radius: 15px;
        background: #1A1A1A;
        padding: 1rem;
        margin: auto;
        margin-top: 100px;
        width: 60%;
        height: 75vh;
    }

    .leaderboard-pos {
        border-radius: 10px;
        padding: 0.5rem;
        margin: 1.5rem;
        background: #262626;
        padding-bottom: 0.5rem;
    }

    .leaderboard-pos-text {
        font-size: 1.5rem;
        float: left;
        position: relative;
        bottom: 0.5rem;
    }

    .leaderboard-big-text {
        font-size: 2.5rem;
        text-align: center;
        padding: 1rem;
    }

    .leaderboard-username-text {
        font-size: 1rem;
        position: relative;
        left: 0.75rem;
        bottom: 0.125rem;
    }

    .leaderboard-pp-text {
        float: right;
        right: 1rem;
        position: relative;
    }
</style>
{% endblock %}
{% block content %}
{{ super() }}
<div class="leaderboard">
    <p class="leaderboard-big-text">Leaderboard</p>
    {% for score in leaderboard_scores %}
        <div class="leaderboard-pos"><span class="leaderboard-pos-text">#{{ loop.index }}</span><span class="leaderboard-username-text">{{ score.name }}</span><span class="leaderboard-pp-text">{{ score.pp }}pp</span></div>
    {% endfor %}
</div>
{% endblock %}