{% extends "base.html" %}
{% block title %}Register{% endblock %}
{% block background %}/assets/png/bg.jpg{% endblock %}
{% block head %}
{{ super() }}
<style type="text/css">
    .important {
        color: #336699;
    }
</style>
{% endblock %}
{% block content %}
{{ super() }}
<h1>Index</h1>
<p class="important">
    Welcome to the register page.
</p>
<form class="modal-content animate" action="/register" method="post">
    <input type="hidden" name="referrer" value="{{ referrer }}">
    <div class="container">
      <input type="text" placeholder="Username" name="username" required>

      <input type="password" placeholder="Password" name="password" required>

      <input type="text" placeholder="Email" name="email" required>
        
      <button type="submit">Register</button>
    </div>
</form>
{% endblock %}